a, p, li , button, label {
  font-family: 'El Messiri', sans-serif;
}
html {
  background-color: #4A90E2;
}
body {
  outline: #2460A7FF solid 2px;
  display: grid;
  grid-template-rows: 120px 1fr 100px;
  grid-template-areas: "header" "main" "footer";
  width: 80%;
  margin: auto;
  background: #2460A7FF;
}
body p, body label {
  color: #B3C7D6FF;
}

body li {
  font-weight: bold;
}
header {
  grid-area: header;
  /* outline: red solid 2px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color:#B3C7D6FF;
  
}
header section {
  border: white solid 2px; 
  background-color: white;
  width: 86px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
header section img {
  height: 70px;
}
header section h2 {
  font-family: 'Staatliches', cursive;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header nav div {
  /* outline: blue solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: border-bottom 200ms linear ;
}
header nav div:hover {
  border-bottom: solid 4px #2460A7FF;
}
header nav div a {
  text-decoration: none;
  color: #2460A7FF;
}
main {
  grid-area: main;
  padding: 2rem;
}
main article p {
  /* outline: yellow solid 2px; */
  line-height: 1.75rem;
  font-size: 1.5rem;
  text-align: justify;
}
#imgSection {
  /* outline: lightblue dashed 2px; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "img1 img2 img3";
  gap: 2rem;
  margin-bottom: 2.5rem;
  /* filter: blur(5px); */
  border-radius: 50px;
  background: url(https://i.pinimg.com/originals/f5/98/76/f59876d316abc628202df9012706d68f.gif);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
#imgSection #message{
  content: "Images will show up once you click begin";
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: 'El Messiri', sans-serif;

  text-align: center;
  /* outline: red solid 2px; */
}
#ctdncont {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'El Messiri', sans-serif;

  text-align: center;
}
#imgSection div {
  /* outline: lightblue solid 3px; */
  height: 452px;
  overflow: hidden;
}
#imgSection div img {
  width:100%;
  height:100%;
  object-fit:fill;
  transform: scale(1);
  transition: transform 300ms ;
}
#imgSection div img:hover {
  transform: scale(1.1);
}
#img1 {
  grid-area: img1; border-radius: 50px; border: #B3C7D6FF solid 2px ;
  /* background: url(https://cdn.dribbble.com/users/32512/screenshots/3227273/loader.gif);
  background-position-x: center;
  background-position-y: -85px; */
}
#img2 {
  grid-area: img2; border-radius: 50px; border: #B3C7D6FF solid 2px ;
  /* background: url(https://cdn.dribbble.com/users/32512/screenshots/3227273/loader.gif);
  background-position-x: center;
  background-position-y: -85px; */
}
#img3 {
  grid-area: img3; border-radius: 50px; border: #B3C7D6FF solid 2px ;/*background: url(https://cdn.dribbble.com/users/32512/screenshots/3227273/loader.gif);
  background-position-x: center;
  background-position-y: -85px; */
}

footer {
  /* outline: orange solid 2px; */
  grid-area: footer;
  padding: 0 2rem;
  background-color: rgb(179, 199, 214);
}
#result {
  /* outline: green solid 5px;  */
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#result ul li{
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
ul {
  list-style-type:circle;
  list-style-position: inside;
  /* outline: red solid 4px;   */
  padding: 2rem 2rem;
  margin: auto;
  margin-top: 1.75rem;
  background-color: #B3C7D6FF;
  /* width: 95.5%; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
#limitGetter {
   /* outline: red solid 2px;   */
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#limitGetter label {
  font-size: 1.5rem;
  align-self: flex-end;
}
#limitGetter input {
  /* outline: yellow solid 2px; */
  height: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
}
#limitGetter input:focus {
  background-color: lightblue;
}
#results {
  /* outline: red solid 2px; */
  display: flex;
  align-content: center;
  justify-content: center;
}
#results button, #limitGetter button , #clearData{
  height: 2rem;
  width: 8rem;

}

#viewRes{
  height: 2rem;
  width: 8rem;
}
#small {
  /* outline: red solid 2px;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
  FOOTER P {
      color: #2460A7FF;
  }
  button {
      color: #2460A7FF;
      font-weight: bold;
      border-radius: 25px;
  }
  li {
      color:rgb(36, 96, 167) ;
  }
  #number {
      color: #2460A7FF;
  }
  #rounds {
    /* outline: yellow solid 2px; */
    /* margin: 0 2rem; */
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: space-between;
  }
  #rounds p ,  #rounds p strong{
    font-size: 1.25rem;
    align-self: flex-end;
  }
  #rounds p strong {
    font-weight: bold;
    color: yellow;
  }
  /* #imgSection:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url(https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat -30px -50px no-scroll;
    background: yellow;
    border-radius: 50px;
    position: absolute;
    display: inline-block;
    opacity: 100%;
    } */
  #viewRes {
    margin-bottom: 2rem;
  }
  canvas {
    border-radius: 50px;
  }
  #clear {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #clearData {
    /* background: url(https://i.pinimg.com/originals/1a/33/ab/1a33ab0abdb651b19bdde7264ca23f1b.gif);
    background-position-x: center;
    background-position-y: center;
    background-size: 5.5rem; */
    height: 4rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #clearData img {
    width: 3rem;
  }
  #clearData p {
    color: red;
    padding-right: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
  }

  #underbtn {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkred;
  }
button:hover {
  background-color: #B3C7D6FF;
}